# Virtualenv
env
.env
.Python
include
lib

# Python Packages
*.egg
*.egg-info
bin
build
dist
sdist
eggs
env
parts
var
develop-eggs
.installed.cfg

# Pip Installer Log
pip-log.txt

# Dev
*.sublime*
app.sql
*.xlsx
*.pyc
*.sql
races.csv

# Ins
gist.txt

# OSX
.DS_Store

# IDE
.idea
.vagrant
Vagrantfile
