{% extends "base.html" %}
{% block body %}
    <div class="container">
        <div class="header clearfix">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation" class="active"><a href="#">Home</a></li>
                    <li role="presentation"><a href="/show">Show</a></li>
                    <li role="presentation"><a href="/racedaycourse">Race Day</a></li>
                    <li role="presentation"><a href="/logout">Logout</a></li>
                </ul>
            </nav>
            <h3 class="text-muted">Bettr</h3>
        </div>
    </div>
    <div class="wrapper" style="overflow:auto;">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Name</th>
                <th>Tipster Score</th>
                <th># of Win</th>
                <th># of 2nd</th>
                <th># of 3rd</th>
                <th># of 4th</th>
                <th>Total Races</th>
                <th>WinStrike %</th>
                <th># of Favs</th>
                <th>Performance Sequence</th>
                <th>Max Losing Streak</th>
                <th>Min Winning Streak</th>
                <th>Last 10</th>
            </tr>
            </thead>
            <tbody>
            {% for tipster in tipsters %}
                <tr>
                    <td>{{ tipster.Name }}</td>
                    <td>{{ tipster.TipsterScore }}</td>
                    <td>{{ tipster.NumberWinners }}</td>
                    <td>{{ tipster.Seconds }}</td>
                    <td>{{ tipster.Thirds }}</td>
                    <td>{{ tipster.Fourths }}</td>
                    <td>{{ tipster.TotalRaces }}</td>
                    <td>{{ tipster.WinStrikeRate }}</td>
                    <td>{{ tipster.NumberFavorites }}</td>
                    <td>{{ tipster.PerformanceSequence }}</td>
                    <td>{{ tipster.MaxLosingStreak }}</td>
                    <td>{{ tipster.MinWinningStreak }}</td>
                    <td>{{ tipster.Last10 }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
