{% extends "base.html" %}
{% block head_extra %}
<link href="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.0.1/sweetalert.min.css" rel="stylesheet">
<link rel="stylesheet" type="text/css"
      href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.0/css/bootstrap-datepicker.min.css">
{% endblock %}
{% block body %}
    <div class="container">
        <div class="header clearfix">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation"><a href="/">Home</a></li>
                    <li role="presentation"><a href="/show">Show</a></li>
                    <li role="presentation" class="active"><a href="/racedaycourse">Race Day</a></li>
                    <li role="presentation"><a href="/logout">Logout</a></li>
                </ul>
            </nav>
            <h3 class="text-muted">Bettr</h3>
        </div>

        <h1>Welcome {{ user.Name }}</h1>

        <div class="container-fluid">
            <div class="row">
              {% for race in races %}
                  <form method="POST" action="/updateselection" class="form" id="{{ race.ID }}">
                      <h2>Race:{{ race.RaceName }}</h2>

                      <h3>Race Date: {{ race.RaceDate.strftime("%d %B, %Y") }} | Race
                          Course: {{ race.RaceCourseCode }}</h3>
                      <table class="table table-striped race-table">
                          <thead>
                          <td>Runner</td>
                          <td class="wid15">First</td>
                          <td class="wid15">Second</td>
                          <td class="wid15">Third</td>
                          <td class="wid15">Fourth</td>
                          </thead>
                          <tbody>
                          {% for runner in range(1,race.RaceNumber+1) %}
                              <tr>
                                  <td>{{ runner }}</td>
                                  <td><input type="radio" name="race_first" value="{{ runner }}"
                                             {% if race.RaceCourseCode in selections and loop.index == selections[race.RaceCourseCode][0] %}checked="checked"{% endif %}/>
                                  </td>
                                  <td><input type="radio" name="race_second" value="{{ runner }}"
                                             {% if race.RaceCourseCode in selections and loop.index == selections[race.RaceCourseCode][1] %}checked="checked"{% endif %}/>
                                  </td>
                                  <td><input type="radio" name="race_third" value="{{ runner }}"
                                             {% if race.RaceCourseCode in selections and loop.index == selections[race.RaceCourseCode][2] %}checked="checked"{% endif %}/>
                                  </td>
                                  <td><input type="radio" name="race_fourth" value="{{ runner }}"
                                             {% if race.RaceCourseCode in selections and loop.index == selections[race.RaceCourseCode][3] %}checked="checked"{% endif %}/>
                                  </td>
                              </tr>
                          {% endfor %}
                          </tbody>
                      </table>
                      <input type="hidden" name="race_id" value="{{ race.ID }}" data-raceid="{{ race.ID }}"
                             data-utctimestamp="{{ race.UTCRaceTime }}"/>
                      <button class="saveButton">Save</button>
                  </form>
              {% endfor %}
            </div>
        </div>

    </div> <!-- /container -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.0.1/sweetalert.min.js"></script>
    <script type="text/javascript"
            src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.0/js/bootstrap-datepicker.min.js"></script>
    <script type="text/javascript">
        $('.form').submit(function () {
            var form = $(this);
            var form_data = '';
            var items_selected = 0;
            $(form).find('input:radio').each(function () {
                if ($(this).prop('checked')) {
                    items_selected += 1;
                    form_data += "<br><strong>" + $(this).attr('name').substring(5) + "</strong>: " + $(this).val();
                }
                ;
            });

            // check has the user made 4 selections
            if (items_selected == 4) {

                // get the timestamp
                var utc_timestamp = $(this).find('[name=race_id]').attr('data-utctimestamp');
                swal({
                    title: "Are you sure?",
                    text: "Do you want to submit this selection: " + form_data + "<br><br>The selection for the has to be submitted before the race start time in order to be valid. <br>UTC time of the race is: <br><strong>" + utc_timestamp + "</strong>",
                    html: true,
                    type: "info",
                    showCancelButton: true,
                    confirmButtonColor: "green",
                    confirmButtonText: "Submit!",
                    closeOnConfirm: false
                }, function () {
                    $.ajax({

                        data: form.serialize(),
                        type: 'POST',
                        url: '/updateselection',
                        success: function (response) {
                            swal('Saved!', 'Your selection has been updated!', 'success');
                        },
                        error: function (xhr, status) {
                            swal('Error', 'Unknown error' + status, 'error');
                        }
                    });
                });
            } else {
                swal('error', 'You need to make all four selections in order for your submission to be valid!', 'error');
            }
            return false;
        });
    </script>
{% endblock %}

