{% extends "base.html" %}
{% block body %}
    <div class="container">
        <div class="header clearfix">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation"><a href="/">Home</a></li>
                    <li role="presentation" class="active"><a href="/show">Show</a></li>
                    <li role="presentation"><a href="/racedaycourse">Race Day</a></li>
                    <li role="presentation"><a href="/logout">Logout</a></li>
                </ul>
            </nav>
            <h3 class="text-muted">Bettr</h3>
        </div>

        <h1>Welcome {{ user.Name }}</h1>

        <div class="container-fluid">
            <div class="row">
                <table class="table table-striped">
                    <thead>
                    <td>Race Date</td>
                    <td>Racecourse Code</td>
                    <td>Race Number</td>
                    <td>Result</td>
                    <td>Race Number</td>
                    <td>Win Odds</td>
                    <td>Favorite Position</td>
                    <td>Favorite Odds</td>
                    <td># of Runners</td>
                    <td>Selection 1st</td>
                    <td>Selection 2nd</td>
                    <td>Selection 3rd</td>
                    <td>Selection 4th</td>
                    <td>Submitted at</td>
                    </thead>
                    <tbody>
                    {% for sel in selections %}
                        <tr>
                            <td>{{ sel[1] }}.strftime('%d %B, %Y')}}</td>
                            <td>{{ sel[2] }}</td>
                            <td>{{ sel[3] }}</td>
                            <td>{{ sel[4] }}</td>
                            <td>{{ sel[5] }}</td>
                            <td>{{ sel[6] }}</td>
                            <td>{{ sel[7] }}</td>
                            <td>{{ sel[8] }}</td>
                            <td>{{ sel.Selections.First }}</td>
                            <td>{{ sel.Selections.Second }}</td>
                            <td>{{ sel.Selections.Third }}</td>
                            <td>{{ sel.Selections.Fourth }}</td>
                            <td>{{ s.SubmittedAt }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <footer class="footer">
            <p>&copy; Company 2015</p>
        </footer>

    </div> <!-- /container -->

{% endblock %}
