{% extends "base.html" %}
{% block body %}
    <div class="container">
        <div class="header clearfix">
            <nav>
                <ul class="nav nav-pills pull-right">
                    <li role="presentation"><a href="/">Home</a></li>
                    <li role="presentation" class="active"><a href="/show">Show</a></li>
                    <li role="presentation"><a href="/racedaycourse">Race Day</a></li>
                    <li role="presentation"><a href="/logout">Logout</a></li>
                </ul>
            </nav>
            <h3 class="text-muted">Bettr</h3>
        </div>

        <h1>Welcome {{ user.Name }}</h1>

        <div class="row">
            <div class="table-responsive">
                <table class="table table-striped" data-sort="table">
                    <thead>
                    {% for field_name in table1[0] %}
                        <th>{{ field_name }}</th>
                    {% endfor %}

                    </thead>
                    <tbody>
                    {% for row in table1[1] %}
                        <tr>
                          {% for field in row %}
                              <td>{{ field }}</td>
                          {% endfor %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <div class="row">
            <div class="table-responsive">
                <table class="table table-striped" data-sort="table">
                    <thead>
                    {% for field_name in table2[0] %}
                        <th>{{ field_name }}</th>
                    {% endfor %}

                    </thead>
                    <tbody>
                    {% for row in table2[1] %}
                        <tr>
                          {% for field in row %}
                              <td>{{ field }}</td>
                          {% endfor %}
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>

        <footer class="footer">
            <p>&copy; Company 2015</p>
        </footer>

    </div> <!-- /container -->
{% endblock %}
{% block javascript_extra %}
    <script type="text/javascript">
        $(document).ready(function () {
            // call the tablesorter plugin
            $("[data-sort=table]").tablesorter();
        });
    </script>
{% endblock %}
